body {
  text-align: center;
}
.btn {
  height: 85px;
  width: 100px;
  border: 2px solid black;
  border-radius: 20%;
  margin: 1rem;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.purple {
  background-color: rgb(95, 21, 103);
}
.blue {
  background-color: rgb(20, 42, 92);
}
.red {
  background-color: rgb(105, 20, 20);
}
.green {
  background-color: rgb(11, 78, 64);
}
.flash{
    background-color: white;
}
.userFlash{
background-color: rgb(59, 211, 59);
}